Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/ParagonKwang
Content/ParagonMinions
Content/MidgardrFree/Demo/
Content/MidgardrFree/El_Torcal/
Content/MidgardrFree/FanalForest/
Content/MidgardrFree/IcelandicCanyon/
Content/MidgardrFree/Landscape/
Content/MidgardrFree/Maps/ContactSheet.umap 
Content/MidgardrFree/MasterMaterial/
Content/MidgardrFree/RomanRuins/
Content/MidgardrFree/Vijayanagar/
Content/STF/
Content/_FpsGame/
